body {  
  background-color: #FFEBB1;
}
.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;  
}

.horizontal {}

.vertical {}

.big {}















.container > div {
  overflow: hidden;
}
.container > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}